// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$icon-cart-name: 'icon-cart';
$icon-cart-x: 0px;
$icon-cart-y: 25px;
$icon-cart-offset-x: 0px;
$icon-cart-offset-y: -25px;
$icon-cart-width: 44px;
$icon-cart-height: 33px;
$icon-cart-total-width: 70px;
$icon-cart-total-height: 58px;
$icon-cart-image: '../images/sprite.png';
$icon-cart: (0px, 25px, 0px, -25px, 44px, 33px, 70px, 58px, '../images/sprite.png', 'icon-cart', );
$icon-cutomize-name: 'icon-cutomize';
$icon-cutomize-x: 44px;
$icon-cutomize-y: 25px;
$icon-cutomize-offset-x: -44px;
$icon-cutomize-offset-y: -25px;
$icon-cutomize-width: 14px;
$icon-cutomize-height: 14px;
$icon-cutomize-total-width: 70px;
$icon-cutomize-total-height: 58px;
$icon-cutomize-image: '../images/sprite.png';
$icon-cutomize: (44px, 25px, -44px, -25px, 14px, 14px, 70px, 58px, '../images/sprite.png', 'icon-cutomize', );
$icon-nike-name: 'icon-nike';
$icon-nike-x: 0px;
$icon-nike-y: 0px;
$icon-nike-offset-x: 0px;
$icon-nike-offset-y: 0px;
$icon-nike-width: 70px;
$icon-nike-height: 25px;
$icon-nike-total-width: 70px;
$icon-nike-total-height: 58px;
$icon-nike-image: '../images/sprite.png';
$icon-nike: (0px, 0px, 0px, 0px, 70px, 25px, 70px, 58px, '../images/sprite.png', 'icon-nike', );
$spritesheet-width: 70px;
$spritesheet-height: 58px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($icon-cart, $icon-cutomize, $icon-nike, );
$spritesheet: (70px, 58px, '../images/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
